//73555000100200018064.npmsrv.cdn.repositories.cloud.sap/:_auth==<base64 encoded version of username:password>

strict-ssl=false
#
# replace here auth string with yours :_auth=<base64 encoded version of username:password>
# Request the technical user name and password in the RBSC UI https://ui.repositories.cloud.sap/www/webapp/users
# Please also check the corresponding documentation for User Authentication https://help.sap.com/docs/RBSC/0a64be17478d4f5ba45d14ab62b0d74c/7e83dfc309834942b441fc2106c5b7f5.html
# for a full documentation of the RBSC please see the RBSC documentation https://help.sap.com/docs/RBSC/0a64be17478d4f5ba45d14ab62b0d74c/175673b12feb41739df4f041db52fe76.html?locale=en-US
